.container-profile {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 60vw;
  margin: auto auto;
  align-items: center;
  flex-direction: column;
}
.container-profile form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;
  font-size: var(--font-xsmall);
}
.container-profile .form-data-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-profile form .image-area {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-profile form .image-area img {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
}

.container-profile form .data-area {
  display: flex;
  flex-direction: column;
}
.container-profile form .data-area button {
  padding: 15px 20px;
  font-size: var(--font-xsmall);
  background-color: crimson;
  color: white;
  border-radius: 4px;
  border: none;
  margin-top: 20px;
}

.user-data {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  color: crimson;
  font-family: 'Archivo', sans-serif;
  width: 100%;
  border-radius: 5px;
  font-size: var(--font-xsmall);
}
.user-data table {
  width: 100%;
  padding: 10px;
}
.user-data table tr td {
  padding: 10px;
}
.user-data table tr td p {
  color: rgb(106, 106, 106);
  display: inline;
}

.user-data tr:nth-child(even) {
  background-color: rgb(221, 221, 221);
}

.container-profile form .data-area a {
  color: var(--primary-color);
}
