<%- include('includes/header')%>

<main class="container-1">
  <article>
    <h1>PAGE NOT FOUND</h1>
    <p>ERROR 404</p>
    <a href="/">BACK TO HOME</a>
  </article>

</main>

<%- include('includes/header')%>