<%- include('includes/header')%>
    <%- include('includes/navbar')%>
        <main>
            <section class="container-contact">
                <section class="container-contact">
                    <form method="POST">
                        <h2>Preencha os campos para trocar a senha</h2>
                        <label for="password">Nova senha</label>
                        <input type="password" name="password" id="">
                        <label for="e-mail">Repita a senha</label>
                        <label for="password-repeat"></label>
                        <input name="password-repeat" type="password"></input>
                        <button>nova senha</button>
                    </form>
                </section>
            </section>

        </main>

        <%- include('includes/header')%>