<%- include('includes/header')%>
<%- include('includes/navbar')%>
<main class="container-1">
  <article>
    <h1>NIKE FURY <span>V3.0</span></h1>
    <p>Maior Precisão nas Jogadas</p>
    <a href="/store">Acessar loja</a>
  </article>
  <img src="assets/img/28530-3-nike-shoes-transparent.png" alt="">
</main>


<%- include('includes/header')%>