<%- include('includes/header')%>
    <%- include('includes/navbar')%>
        <main>
            <section class="container-contact" action="/user/profile/<%= user._id %>">
                <form method="POST">
                    <h2>Preencha os campos para trocar a senha</h2>
                    <label for="password">senha</label>
                    <input type="password" name="password" id="">
                    <label for="e-mail">Repita a senha</label>
                    <label for="password-repeat"></label>
                    <input name="password-repeat" type="password"></input>
                    <button>send</button>
                </form>
            </section>

        </main>

        <%- include('includes/header')%>